/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Global and generic styles */
html {
  font-size: 1rem;
}
body {
  font-size: 1em;
  width: 100%;
  text-align: center;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}


h1 {
  font-size: 2.25em;
}

/*article div {
  align-content: center;
} */

/*article div img {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #d1d1e0;
  max-height: 200px;
  margin-left: 40px;
} */

div article img {
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 200px;
  margin-left: 40px;
  padding-top: 20px;
}


h1,
article {
  width: 90%;
}


article {
  margin-left: 10px;
}
h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.125em;
}

p {
  font-size: 0.875em;
}
.social ul {
  display: flex;
  width: 100%;
  list-style-type: none;
  justify-content: center;
}

/* Header Styles */
header {
  background-color: pink;
}
nav {
  font-size: 1.125em;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav ul a {
  color: #000;
  text-decoration: solid #66e0ff;
}

nav ul li {
  margin-right: 20px;
}


/* Home Page */

.hero-area {
  background-image: url(../img/new-homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-area h1 {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6f737a;;
}

div .floral-prints {
  border-top: 40px solid pink;
}

.floral-prints p {
  width: 100%;
  
}
.main-fabric {
  margin: 0;
  padding: 0;
  border: 10px solid #b3d4fc;
  
}

.floral-ceramics,
.floral-prints,
.floral-purses {
  border-bottom: 2px solid grey;
  padding-bottom: 30px;
  margin-bottom: 0px;
}
.floral-ceramics h2,
.floral-prints h2,
.floral-purses h2 {
  border: 2px solid pink;
  margin: 40px;
  color: #6f737a;
}

.floral-ceramics p,
.floral-prints p,
.floral-purses p {
  margin-bottom: 0;
  color: #6f737a;
}
/*Main Section */
article div img {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #d1d1e0;
  max-height: 200px;
  margin-left: 40px;
}

div article img {
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color:  #d1d1e0; */
  /*border: navy; */
  max-height: 200px;
  margin-left: 40px;
  padding-top: 20px;
}

/*Products Page */
.products-header {
  background: aliceblue;
  margin-bottom: 40px;
}
.plate,
.scarves,
.books,
.vintage-fabric,
.modern-fabric,
.bowls,
.purses,
.bouquet,
.art,
.earrings,
.brooches,
.necklaces {
  background-color: aliceblue;
  margin-bottom: 20px;
}

.books {
  width: 90%;
}

/*Latest News Page */
.news .content-wrapper,
.future .content-wrapper {
  background: #bdd4fc;
  color: #6f737a;
}

.competition,
.book-club,
.nature-walk,
.additional,
.art-class,
.charity,
.learning,
.training,
.speakers,
.festivals {
  border: 2px solid white;
  margin-bottom: 40px;
}

/*Coming Soon */
ul .future-nav {
  display: flex;
  list-style-type: none;
}
.future h1 {
  border: 2px solid white;
  color: #000;
  width: 70%;
}

/* Footer Styles */
footer {
  /* background-color: #b3ffe0; */
  /* background-color: #71deb5; */
  background-color: #ededed;
  color: #5a5e5d;
}

div.social {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer .social ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

footer .fontawesome-icon li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.fa-facebook-f:before,
.fa-facebook-f:after,
.fa-instagram:before,
.fa-instagram:after,
.fa-x-twitter:before,
.fa-x-twitter:after {
  color: pink;
}

footer p {
  margin: 16px;
}

/*.social .fontawesome-icon ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

/*li.fontawesome-icon {
  margin-right: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Generic Page Styles */
  .content-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }

  footer .content-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  footer .social {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    margin-right: 30px;
  }

  footer h3 {
    width: 768px;
  }

  footer ul {
    list-style-type: none;
  }

  div .social {
    width: 768px;
  }
  footer .social ul {
    width: 30%;
  }
  footer p {
    padding: 0;
    width: 100%;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.5em;
  }

  /*Main Page*/

  .floral-prints,
  .floral-ceramics,
  .floral-purses {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  div .floral-prints {
    border-bottom: 2px solid pink;
  }

  .floral-prints article {
    padding-bottom: 40px;
  }

  .floral-ceramics,
  .floral-purses {
    width: 40%;
  }

  div .floral-ceramics {
    border-right: 2px solid pink;
    padding-right: 40px;
    padding-top: 0;
  }

  div .floral-ceramics h2 {
    margin-bottom: 20px;
  }

  div .floral-ceramics p {
    margin-bottom: 20px;
  }

  /* .floral-prints {
    width: 100%;
    border-bottom: 20px solid pink;
    padding-bottom: 40px;
    background-image: url(../img/main-fabric.jpg);
  } */

  .floral-prints h2 {
    width: 60%;
  }

  .main-fabric img {
    width: 40%;
    padding: 0;
  }

  .main-fabric {
    margin-right: 40px;
  }

  .floral-prints p {
    width: 40%;
  }

  .floral-prints article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .floral-ceramics p {
    padding-top: 0;
    margin: 0;
  }

  /* Latest News Page */

  h1.news {
    width: 100%;
    text-align: center;
  }

  main .news {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 768px;
  }
  .competition,
  .book-club,
  .nature-walk,
  .additional {
    width: 40%;
    border: 2px white solid;
    margin: 20px;
  }

  /*Future Page */

  .charity,
  .art-class,
  .learning,
  .training,
  .speakers,
  .festivals {
    width: 30%;
  }

  /* Products */
  .plate,
  .scarves,
  .books,
  .vintage-fabric,
  .modern-fabric,
  .bowls,
  .purses,
  .bouquet,
  .art,
  .earrings,
  .brooches,
  .necklaces {
    width: 40%;
  }
  img.products {
    max-width: 200px;
    margin: 0;
  }
}
@media only screen and (min-width: 1200px) {
  /*Generic styles for pages */
  h1 {
    font-size: 3.75em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.875em;
  }

  p {
    font-size: 1.125em;
  }

  div .social {
    width: 1200px;
  }

  /* Main Page */
  .hero-area h1 {
    font-size: 82px;
  }
  .floral-prints article {
    padding-bottom: 60px;
  }
  .floral-prints h2 {
    width: 80%;
  }

  .floral-prints p {
    width: 40%;
    padding-left: 40px;
  }
  div .floral-ceramics {
    padding-bottom: 20px;
  }
  div .floral-ceramics h2 {
    margin-bottom: 40px;
  }

  div .floral-ceramics p {
    margin-bottom: 0;
  }
  div .floral-ceramics p {
    padding-top: 0px;
  }

  /*Latest News Page */

  h1.news {
    width: 100%;
  }

  /*Products Page */
  article div img {
    max-height: 400px;
  }
}
@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
